// Main Project Colors
$color-primary: #333333;
$color-primary-dark: #262626;
$color-primary-light: #808080;

// Shades and Tints
$color-absolute-white: #fff;	// 100%
$color-white: #f2f2f2;			// 95%
$color-light: #cccccc;			// 80%
$color-light-grey: #a8a8a8;		// 66%
$color-grey: #808080;			// 50%
$color-dark-grey: #555555;		// 33%
$color-dark: #333333;			// 20%
$color-black: #262626;			// 15%
$color-absolute-black: #000;	// 0%

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.55;
$header-line-height: 1.25;